/*  Performing a reset of the most common params */ 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  Defining the flexbox elements */
body {
  font-family: Inter, sans-serif;
  background-color: #D4E0EE;
  font-weight: 400;
  font-size: 15px;    

  /* Display flex in this parent element allows to child elements to align
  in columns or rows with auto width and height */
  display: flex;            
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/*  Placing the container for the QR code in the parent element */
.container {
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
}

/* The qr code takes up 100% of the .container width which is 280px */
#qr-code {
  width: 100%;
  margin-bottom: 1rem;
}

/* Making sure the image follows the qr-code guidelines */
img {
  width: 100%;
  border-radius: 20px;
}

/* Ensuring the text is centered and wraps within 90% of the container */
.qr-text {
  text-align: center;
  margin: auto;
  width: 90%;
}

/* The following p, h1 and .attribution define size color and position of 
the text on the screen*/
p {
  color: #32415B;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 15px;
}

h1 {
  color: #8A8E99;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: auto;
}
